<!doctype html>
    <html class="no-js" lang="{{ request.locale.iso_code }}">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    
        {%- if settings.favicon != blank -%}
          <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
        {%- endif -%}
    
        <title>
          {{ page_title }}
        </title>
    
        {% if page_description %}
          <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
    
        <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
        {{ content_for_header }}

        {{ 'normalize.min.css' | asset_url | stylesheet_tag }}
        {{ 'base.css' | asset_url | stylesheet_tag }}
        <style>
          @charset "UTF-8";
          @font-face {
              font-family: 'Ogg-Regular';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Ogg/Ogg-Regular/Ogg-Regular.woff2") format("woff2");
          }

          @font-face {
              font-family: 'Ogg-Italic';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Ogg/Ogg-Italic/OggTextBookItalic.woff2") format("woff2");
          }

          @font-face {
              font-family: 'ry';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Ogg/ogg-new/Ogg-Roman.woff2") format("woff2");
          }

          @font-face {
              font-family: 'Univers';
              src: url("https://kin-website-fonts.s3.amazonaws.com/3562B4_2_0.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers Condensed Bold';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-Condensed-Bold/UniversCondensedBold.woff2") format("woff2");
          }

          @font-face {
              font-family: 'Univers Condensed Light';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-Condensed-Light/UniversCondensedLight.woff2") format("woff2");
          }

          @font-face {
              font-family: 'Univers Condensed Regular';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-Condensed-Regular/UniversCondensedRegular.woff2") format("woff2");
          }

          @font-face {
              font-family: 'Univers Extended Bold';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-Ext-Bold/UniversExtBold.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers Extended Regular';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-Extended-Regular/UniversExtendedRegular.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers Extended Black';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Unvers-Ext-Black/UniversExtBlack.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers 45 light';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Univers-45-light.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers 65 bold';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Uniivers-65-bold.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Ogg Book Italic';
              src: url("https://kin-website-fonts.s3.amazonaws.com/OggTextBookItalic.woff2") format("woff2");
              /* IE9 Compat Modes */
          }

          @font-face {
              font-family: 'Univers Extended Black';
              src: url("https://kin-website-fonts.s3.amazonaws.com/Univers/Unvers-Ext-Black/UniversExtBlack.woff2") format("woff2");
              /* IE9 Compat Modes */
          }
        </style>
      </head>
    
      <body>
        {% section 'header' %}
        <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
            {{ content_for_layout }}
        </main>
      </body>
    </html>
    