{{ 'site-header.css' | asset_url | stylesheet_tag }}

<header class="site-header">
    <div class="menu-icon">
        <p class="menu-icon-open menu-prompt noselect">Menu</p>
        <p class="menu-icon-close menu-prompt noselect">Close</p>
    </div>
    <div class="site-menu closed">
        <div class="menu-items noselect">
            <div class="primary-menu menu">
                {% for item in section.settings.primary-menu.links %}
                    <a href="{{ item.url }}" class="prod-{{ forloop.index }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            <div class="secondary-menu menu">
                {% for item in section.settings.secondary-menu.links %}
                    <a href="{{ item.url }}" class="link-{{ forloop.index }}">{{ item.title }}</a>
                {% endfor %}
            </div>
            
        </div>
    </div>

    <div class="site-logo">
        <a href="#" class="logo-link">
            <img src="{{ section.settings.logo | image_url : width: 81, height: 49 }}" alt="Kin Logo" class="logo-img">
        </a>
    </div>

    <div class="cart-icon">
        <div class="cart-handle"></div>
        <div class="cart-body"></div>
    </div>
    <div class="site-cart">
        
    </div>
</header>

{% schema %}
{
    "name": "Site Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Site Logo"
      },
      {
        "type": "link_list",
        "id": "primary-menu",
        "label": "Primary Links"
      },
      {
        "type": "link_list",
        "id": "secondary-menu",
        "label": "Secondary Links"
      }
    ]
  }
{% endschema %}