{{ 'site-header.css' | asset_url | stylesheet_tag }}
{{ 'site-cart.css' | asset_url | stylesheet_tag }}

<header class="site-header">
    <input type="checkbox" id="toggleNav"/>
    <label class="toggle" for="toggleNav">
        <div class="menu-icon pointer flex-center ">
            <p class="menu-icon-open menu-prompt noselect">Menu</p>
            <p class="menu-icon-close menu-prompt noselect">Close</p>
        </div>
    </label>
    
    <div class="site-menu closed">
        <a href="{{ shop.url }}" class="secondary-logo-link">
            <img 
                loading="lazy" 
                src="{{ section.settings.secondary-logo | image_url : width: 81, height: 49 }}" 
                alt="{{ section.settings.secondary-logo.alt }}"
                class="logo-img" 
                width="55" 
                height="33">
        </a>
        <div class="menu-items noselect">
            <div class="primary-menu menu">
                {% for item in section.settings.primary-menu.links %}
              		{% assign productHandle = item.object.handle %}
                    <a 
                        href="{{ item.url }}"
                        id="{{ item.title | replace: " ", "_" }}" 
                        class="prod-link">
                      	{% if item.type == "product_link" %}
                      	<img 
                            loading="lazy" 
                            src="{{ all_products[productHandle].featured_image | image_url: width: 29, height: 57 }}"
                            width="29"
                            height="57">
                      	{% endif %}
                      	{{ item.title }}
                        <span class="border-bottom">
                    </a>
              	
                {% endfor %}
            </div>
            <div class="secondary-menu menu">
                {% for item in section.settings.secondary-menu.links %}
                    <a href="{{ item.url }}" class="link-{{ forloop.index }}">{{ item.title }}</a>
                {% endfor %}
            </div>
          <div class=" mobile-menu menu">
                {% for item in section.settings.secondary-mobile-menu.links %}
                    <a href="{{ item.url }}" class="link-{{ forloop.index }}">{{ item.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="site-logo">
        <a href="{{ shop.url }}" class="logo-link">
            <img 
                loading="lazy" 
                src="{{ section.settings.logo | image_url : width: 81, height: 49 }}" 
                alt="Kin Logo" 
                class="logo-img" 
                width="{{ section.settings.logo.width }}" 
                height="{{ section.settings.logo.height }}">
        </a>
    </div>

    <!-- this section doesn't actually integrate with shopify in any way. -->
    <input type="checkbox" id="toggleCartOpen"/>
    <label class="toggle " for="toggleCartOpen">
        <div class="cart-icon">
            <div class="cart-handle"></div>
            <div class="cart-body"></div>
        </div>
    </label>

    <div class="site-cart closed">
        <div class="cart-back-icon pointer">
            <label class="toggle pointer" for="toggleCartClose">
                <img 
                    loading="eager" 
                    src="{{ 'cart-back-icon.png' | asset_img_url }}"
                    alt="Back to Menu Icon"
                    class="icon-pointer"
                    width="54"
                    height="20">
            </label>
        </div>
        <input type="checkbox" id="toggleCartClose"/>
            <div class="cart-logo-black">
                <a href="{{ shop.url }}">
                    <img loading="eager" 
                        src="{{ section.settings.secondary-logo | image_url : width: 81, height: 49 }}" 
                        alt="{{ section.settings.secondary-logo.alt }}" 
                        width="55" 
                        height="33">
                </a>
            </div>
        <div class="cart-items empty">
            <p class="empty-text h1">Your cart is thirsty.</p>
        </div>
        <a href="#" class="cart-btn keep-shopping">Keep shopping</a>
        <a href="#" class=" cart-btn checkout">Checkout</a>
        <span class="separator"></span>
        
    </div>
</header>

{% schema %}
{
    "name":"Site Header",
    "class":"section-header",
    "settings":[
        {
            "type":"image_picker",
            "id":"logo",
            "label":"Site Logo"
        },
        {
            "type":"image_picker",
            "id":"secondary-logo",
            "label":"Secondary Logo"
        },
        {
            "type":"link_list",
            "id":"primary-menu",
            "label":"Primary Links"
        },
        {
            "type":"link_list",
            "id":"secondary-menu",
            "label":"Secondary Links"
        },
        {
            "type":"link_list",
            "id":"secondary-mobile-menu",
            "label":"Secondary Mobile Links"
        }
    ]
}
{% endschema %}